* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe5e5;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    margin: 20px;
  }
  
  .container .tenor-gif-embed {
    max-width: 200px;
  }
  
  .btn {
    text-decoration: none;
    color: #111;
    background: #fff;
    padding: 15px 30px;
    border-radius: 8px;
    box-shadow: 0.5rem 1rem 3rem hsl(0, 0%, 0%, 0.3);
    font-weight: bold;
    font-size: 16px;
    transition: background 0.3s ease, color 0.3s ease, transform 0.2s ease;
    display: inline-block;
    text-align: center;
    border: 2px solid transparent;
    cursor: pointer;
  }
  
  .btn:hover {
    background: #111;
    color: #fff;
    transform: scale(1.05);
    border: 2px solid #fff;
  }
  
  .btn:active {
    transform: scale(0.98);
    box-shadow: 0.3rem 0.6rem 2rem hsl(0, 0%, 0%, 0.2);
  }
  
  .back img {
    width: 30px;
    height: 30px;
  }
  